        /*Fuentes*/
        /* @font-face {
            font-family: 'DancingScript-Regular';
            src: url('../fuentes/DancingScript/DancingScript-Regular.ttf');
        }
        
        @font-face {
            font-family: 'DancingScript-Bold';
            src: url('../fuentes/DancingScript/DancingScript-Bold.ttf');
        }
        
        @font-face {
            font-family: 'OpenSans-Bold';
            src: url('../fuentes/OpenSans/OpenSans-Bold.ttf');
        }
        
        @font-face {
            font-family: 'OpenSans-Light';
            src: url('../fuentes/OpenSans/OpenSans-Light.ttf');
        }
        
        @font-face {
            font-family: 'OpenSans-Regular';
            src: url('../fuentes/OpenSans/OpenSans-Regular.ttf');
        }*/
        
        html {
            box-sizing: border-box;
            font-size: 62.5%;
            /* 1rem = 10px */
            margin: 0;
            scroll-behavior: smooth;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }
        
        body {
            font-size: 1.6rem;
            line-height: 2;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            scroll-behavior: smooth;
        }
        /** Globales **/
        
        .contenedor {
            width: 90%;
            max-width: 130rem;
            margin: 0 auto;
        }
        
        h1,
        h2,
        h3,
        h4 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin: 0;
        }
        
        h1 {
            font-size: 4.8rem;
        }
        
        h2 {
            font-size: 4rem;
            line-height: 1.2
        }
        
        h3 {
            font-size: 3.2rem;
        }
        
        h4 {
            font-size: 2.8rem;
        }
        
        img {
            width: 100%;
            max-width: 100%;
        }
        
        .no-margin {
            margin: 0;
        }
        
        a {
            text-decoration: none;
        }
        /*Utilidades*/
        /*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
        
        .clearfix:before,
        .clearfix:after {
            content: " ";
            /* 1 */
            display: table;
            /* 2 */
        }
        
        .clearfix:after {
            clear: both;
        }
        
        .opsb {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 2.5rem;
        }
        
        .txt-justificado {
            text-align: justify;
        }
        
        .dblock {
            display: block;
        }
        
        .fixed {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 2000;
        }
        
        .txt-centrado {
            text-align: center;
        }
        
        .imagen-chef {
            margin: 0;
        }
        
        .mg0auto {
            margin: 0 auto;
        }
        
        .dsregular {
            font-family: 'Dancing Script', cursive;
            font-weight: 400;
        }
        
        .dsb4 {
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
            font-size: 4rem;
        }
        
        .negro {
            color: black;
        }
        
        .blanco {
            color: white;
        }
        /** 1.- Header **/
        /* 1.1 Logo*/
        
        .logo {
            width: 10rem;
            display: block;
            margin: auto;
            margin-bottom: 1rem;
        }
        /** Mobile Menu**/
        
        .mobile-menu {
            width: 5rem;
            margin: 0 auto;
        }
        
        .navegacion {
            background-color: #ffe7cd;
            border-radius: 25%;
            display: none;
        }
        
        .nav2 {
            display: block;
        }
        
        @media (min-width: 1100px) {
            /*Ocultar el icono hamburguesa*/
            .mobile-menu {
                display: none;
            }
            .navegacion {
                display: block;
            }
        }
        /* .navegacion:target {
            display: block;
        }*/
        
        @media (min-width: 768px) {
            .navegacion {
                display: block;
            }
        }
        /*1.2.- Barra */
        
        .barra {
            background-color: transparent;
        }
        
        @media (min-width: 450px) {
            .barra {
                background-color: #ffe7cd;
            }
        }
        /*Imagen de fondo*/
        
        .imagen-header {
            background-image: url(../img/Restaurantee.jpg);
            background-position: center center;
            background-size: cover;
            height: 70vh;
            /* min-height: 60rem;*/
            /* margin: auto;*/
            text-align: center;
            align-items: center;
            display: flex;
            align-items: center;
        }
        
        .titulo {
            font-size: 8rem;
            color: white;
            font-family: 'Dancing Script', cursive;
            font-weight: 400;
            transition: color .3s ease-in-out;
        }
        
        .jefe-contenedor {
            display: flex;
            align-items: center;
        }
        
        .contenedor-titulos {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 0 auto;
            align-items: center;
        }
        
        .titulo {
            flex: 0 0 100%;
        }
        
        .subtitulo {
            flex: 0 0 100%;
        }
        
        @media (max-width: 450px) {
            .imagen-header {
                background-repeat: no-repeat;
                /* height: 18rem;*/
            }
            .img-fondo {
                background-size: cover;
                background-repeat: no-repeat;
                height: 20vh;
            }
            .fs1-5rem {
                font-size: 1.1rem !important;
            }
            .titulo {
                font-size: 5rem;
            }
            .logo {
                width: 6rem;
            }
            .contenedor-titulos {
                /*padding-top: 14rem;*/
            }
            .subtitulo {
                font-size: 2.5rem;
            }
        }
        
        .imagen-header a .titulo:hover {
            color: black;
        }
        
        .subtitulo {
            color: white;
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
        }
        
        .navegacion a {
            color: black;
            text-transform: uppercase;
            display: block;
            margin: 0rem 0rem 0rem 2rem;
            font-size: 1.8rem;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            margin: 0;
            cursor: pointer;
        }
        
        .navegacion a:hover {
            color: darkgray;
            cursor: hand;
        }
        
        @media (min-width: 1100px) {
            .logo {
                width: 12rem;
                margin-left: 1rem;
                margin-top: .5rem;
                margin-bottom: .2rem;
            }
            .barra {
                display: flex;
                justify-content: space-between;
                background-color: #ffe7cd;
            }
            .navegacion {
                padding: 1rem;
                display: block !important;
                border-color: #ffe7cd;
            }
            .navegacion a {
                display: inline;
                text-transform: uppercase;
                margin: 2rem 5rem 0rem 2rem;
                font-size: 2.0rem;
            }
            .navegacion a:last-of-type {
                margin-right: 2rem;
            }
        }
        /*Main*/
        
        .color-fondo {
            background: #ffe7cd;
        }
        
        main .principal .logo {
            padding-top: 1rem;
            margin: 1rem auto;
            margin-bottom: 4rem;
        }
        
        .padre {
            display: block;
            padding-bottom: 4rem;
        }
        
        .titulo-articulo {
            font-size: 4rem;
            text-align: center;
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
        }
        /*Btn leer más*/
        
        .leer-mas {
            padding: .7rem 3rem;
            background: black;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            display: block;
            text-align: center;
            border: 1px solid transparent;
            transition: background-color .3s ease-in-out;
        }
        
        .leer-mas:hover {
            background: white;
            color: black;
            border: 1px solid black;
        }
        
        @media (min-width: 600px) {
            /*MAIN*/
            .principal {
                background: #e0b7b7;
            }
            main .principal .logo {
                padding-top: 1rem;
                margin: auto;
                margin-bottom: 4rem;
            }
            .padre {
                display: grid;
                grid-template-columns: 40% 55%;
                grid-column-gap: 2rem;
            }
            .color-fondo .logo {
                padding-top: 2rem;
                margin: 0 auto;
            }
            .d-leer-mas {
                display: flex;
                justify-content: flex-end;
            }
            .leer-mas {
                padding: .7rem 3rem;
                background: black;
                color: white;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        
        @media (max-width: 1100px) {
            .p-opcional {
                display: none;
            }
        }
        /*Section 1*/
        
        .secundario-titulo {
            margin-bottom: 3rem;
            padding-top: 4rem;
        }
        
        .imagen-chef {
            max-width: 100rem;
            margin: 0 auto;
        }
        
        .imagen-chef img {
            padding-bottom: 2rem;
        }
        
        .secundario-titulo h2 span {
            color: red;
            opacity: .7;
        }
        /*Sección: Variedad de Alimentos*/
        
        .img-fondo {
            background-image: url('../img/mediterraneoo.jpg');
            background-position: center center;
            background-size: cover;
            height: 20vh;
            /* margin: auto;*/
            text-align: center;
            align-items: center;
        }
        
        .p3 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 1.7rem;
            opacity: 1;
            color: black;
            margin: 0;
        }
        
        @media (min-width: 600px) {
            .p3 {
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 2rem;
            }
        }
        /*Nuestra Galería de Imágenes*/
        
        .padre2imagenes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: .2rem;
        }
        
        .padre3imagenes {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: .2rem;
        }
        
        .max-altura {
            max-height: 35rem;
        }
        
        .max-altura2 {
            max-height: 25rem;
        }
        
        .toca-imagen {
            opacity: .8;
            border-radius: 10px;
            border: 1px solid white;
            transition: opacity .3s ease-in-out;
        }
        
        .toca-imagen:hover {
            opacity: 1;
            border: 1px solid black;
            cursor: pointer;
        }
        
        .fs1-5rem:hover {
            cursor: pointer;
        }
        /*Reserva Ahora*/
        
        .d-img-formulario {
            display: flex;
            justify-content: space-evenly;
            /*position: relative;*/
            flex-wrap: wrap;
        }
        
        .formulario-padre {
            /* position: absolute;*/
            display: flex;
            width: 60%;
            justify-content: space-evenly;
            flex-wrap: wrap;
            background: white;
            border: 1px solid black;
            border-radius: 10px;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        
        @media (min-width: 768px) {
            .formulario-padre {
                margin-top: -10rem;
                width: 40%;
            }
        }
        
        input[type="text"],
        input[type="tel"],
        input[type="datetime-local"],
        textarea {
            width: 100%;
            margin: 2rem;
            padding: 1rem;
        }
        
        label {
            font-size: 2.5rem;
            color: darkgray;
            font-family: 'OpenSans-Bold-Bold';
        }
        
        textarea {
            max-height: 25rem;
        }
        
        input[type="submit"] {
            margin-bottom: 1rem;
            transition: background-color .3s ease-in-out;
        }
        
        input[type="submit"]:hover {
            cursor: pointer;
        }
        
        @media (max-width: 500px) {
            .formulario-padre {
                width: 90%;
            }
            input[type="text"],
            input[type="tel"],
            input[type="datetime-local"],
            textarea {
                width: 100%;
                margin: 1rem;
                padding: .5rem;
                border: 0.5px solid darkgray;
            }
            label {
                font-size: 2rem;
                color: darkgray;
                font-family: 'OpenSans-Bold-Bold';
            }
            textarea {
                height: 15rem;
                max-height: 20rem;
            }
            input[type="submit"] {
                margin-bottom: .5rem;
            }
            input[type="submit"]:hover {
                cursor: pointer;
            }
            .dsb4 {
                font-family: 'DancingScript-Bold';
                font-size: 3rem;
            }
            .titulo-articulo {
                font-size: 3.5rem;
            }
        }
        /*Footer */
        
        .contenedorF {
            display: flex;
            justify-content: center;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        @media screen and (prefers-reduced-motion: reduce) {
            html {
                scroll-behavior: auto;
            }
        }
